numpy
pandas
scikit-learn
scipy
matplotlib
seaborn
joblib
requests
tqdm
fastapi
uvicorn[standard]
pydantic
streamlit
plotly
mlflow
lasio
imbalanced-learn
xgboost
lightgbm
nbformat
ipykernel
pytest
httpx
